*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;;
}
/* common styles */
.btn-primary{
    font-size: 20px;
    color: #fff;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
.section-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.section-desc{
    text-align: center;
    color: #797979;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* banner section styles */
.banner{
    width: 100%;
    height: 850px;
    display: flex;
    background-color: #FCEEF1;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    width: 730px;
    margin-left: 150px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-desc{
    color: #797979;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 40px 0px;
}
.banner-img img{
    margin-right: 150px;
    margin-top: 50px;
}
/* feature section styles */
.feature-section{
    width: 100%;
}
.feature-content{
    width: 650px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.feature-flowers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 200px;
}
.flower-1{
    background-color: #F2DEE7;
    width: 420px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
}
.flower-2{
    background-color: #D9EFF1;
    width: 420px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
}
.flower-3{
    background-color: #E3EBDB;
    width: 420px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
}
.flower-1 img{
    margin: 92px 55px;
}
.flower-2 img{
    margin: 49px 60px;
}
.flower-3 img{
    margin: 116px 55px;
}
.feature-flowers a{

}
.flowers-title-1{
    color: black;
    text-align: center;
    margin-top: -10%;
}
.flowers-title-2{
    color: black;
    text-align: center;
}
.flowers-title-3{
    color: black;
    text-align: center;
    margin-top: -8%;
}
/* service section styles */
.service-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F4F4F4;
    margin: 200px 240px;
    height: 320px;
}
.service-option img{
    margin-bottom: 20px;
}
/* Bouquets Section styles */
.bouquets-section{
    text-align: center;
}
.bouquets-content{
    display: flex;
    justify-content: space-around;
    margin: 70px 200px;
}
.bouquets-details img{
    border-radius: 10px;
    width: 320px;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bouquets-title{
    color: #3A553A;
}
.bouquets-details h4{
    color: black;
    font-size: 20px;
    margin: 14px 0px;
    font-weight: 800;
}
.bouquets-details p{
    color: black;
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0px;
}
.bouquets-details a h6{
    font-size: 18px;
    text-decoration: none;
    color: #3A553A;
    margin: 14px 0px;
    font-weight: 300;
}
.bouquets-btn{
    text-align: center;
    border-radius: 1px;
    padding: 17px 64px;
    background-color: #3A553A;
}
/* Deal styles */
.deal-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCEEF1;
    margin: 100px 0px;
    height: 80vh;
}
.deal-content{
    text-align: center;
    width: 580px;
    margin-top: 40px;
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.deal-content span{
    color: #E55473;
}
.deal-desc{
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 40px 0px;
}
/* Instagram section styles */
.instagram-section{
    margin-top: 130px;
}
.instagram-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 200px;
}
.instagram-section h1{
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}
.instagram-section p{
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
/* Coupon section styles */
.coupon-section{
    width: 1470px;
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 150px auto;
}
.coupon-content{
    text-align: center;
    position: relative;
    top: 30%;
}
.coupon-content h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.coupon-content p{
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}
.coupon-content input{
    padding: 22px;
    width: 40%;
    border: none;
    border-radius: 5px;
}
.subscribe-btn{
    border-radius: 5px;
    padding: 20px 34px;
    margin: 5px 14px;
    font-size: 16px;
}
/* footer section styles */

.footer{
    display: flex;
    align-items: center;
    height: 400px;
    background-color: #111010;
    text-align: center;
}
.footer-section{
    width: 100%;
}
.footer-section span{
    color: #E55473;
}
.footer-section h1{
    color: #fff;
}
.footer-section p{
    color: #E7E7E7;
    margin: 32px 0px;
}
.footer-section .copyright{
    color: #707070;
}